section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    & img {
        width: 20.5rem;
        height: 20.5rem;
        object-fit: cover;
    }
}

@media (width >= 80rem) {
    section {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        & img {
            width: 17.875rem;
            height: 17.875rem;
        }
    }


}